<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>country</key>
		<string>China</string>
		<key>city</key>
		<array>
			<dict>
				<key>cityName</key>
				<string>北京</string>
				<key>introduction</key>
				<string>北京是中华人民共和国的首都、直辖市和国家中心城市，是全国的政治、文化、科教和国际交往中心，是世界著名的古都和现代国际城市，也是中华人民共和国中央人民政府和全国人民代表大会的办公所在地</string>
				<key>imgName</key>
				<string>beijing.jpg</string>
				<key>detailUrl</key>
				<string>http://baike.baidu.com/subview/2621/13223029.htm?fr=aladdin</string>
				<key>photosUrl</key>
				<string>http://image.baidu.com/i?tn=baiduimage&amp;ipn=r&amp;ct=201326592&amp;cl=2&amp;lm=-1&amp;st=-1&amp;fm=result&amp;fr=&amp;sf=1&amp;fmq=1402307036408_R&amp;pv=&amp;ic=0&amp;nc=1&amp;z=&amp;se=1&amp;showtab=0&amp;fb=0&amp;width=&amp;height=&amp;face=0&amp;istype=2&amp;ie=utf-8&amp;word=北京</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>上海</string>
				<key>introduction</key>
				<string>中国第一大城市，中华人民共和国直辖市之一，中国国家中心城市，中国的经济、金融中心，繁荣的国际大都市，拥有中国大陆首个自贸区“中国（上海）自由贸易试验区”。</string>
				<key>imgName</key>
				<string>shanghai.jpg</string>
				<key>detailUrl</key>
				<string>http://baike.baidu.com/view/1735.htm</string>
				<key>photosUrl</key>
				<string>http://image.baidu.com/i?tn=baiduimage&amp;ipn=r&amp;ct=201326592&amp;cl=2&amp;lm=-1&amp;st=-1&amp;fm=result&amp;fr=&amp;sf=1&amp;fmq=1402307025872_R&amp;pv=&amp;ic=0&amp;nc=1&amp;z=&amp;se=1&amp;showtab=0&amp;fb=0&amp;width=&amp;height=&amp;face=0&amp;istype=2&amp;ie=utf-8&amp;word=上海</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>广州</string>
				<key>introduction</key>
				<string>中国国家中心城市，世界著名的港口城市，国家重要的经济、金融、贸易、交通、会展和航运中心。</string>
				<key>imgName</key>
				<string>guangzhou.jpg</string>
				<key>detailUrl</key>
				<string>http://baike.baidu.com/subview/6771/10628575.htm</string>
				<key>photosUrl</key>
				<string>http://image.baidu.com/i?tn=baiduimage&amp;ipn=r&amp;ct=201326592&amp;cl=2&amp;lm=-1&amp;st=-1&amp;fm=result&amp;fr=&amp;sf=1&amp;fmq=1402306996047_R&amp;pv=&amp;ic=0&amp;nc=1&amp;z=&amp;se=1&amp;showtab=0&amp;fb=0&amp;width=&amp;height=&amp;face=0&amp;istype=2&amp;ie=utf-8&amp;word=广州</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>深圳</string>
				<key>introduction</key>
				<string>广东省省辖市、副省级市、计划单列市、经济特区，中国四大一线城市之一，中国国家区域中心城市（华南），国际重要的空海枢纽和外贸口岸，中国南方重要的高新技术研发和制造基地</string>
				<key>imgName</key>
				<string>shenzhen.jpg</string>
				<key>detailUrl</key>
				<string>http://baike.baidu.com/view/3329.htm</string>
				<key>photosUrl</key>
				<string>http://image.baidu.com/i?tn=baiduimage&amp;ct=201326592&amp;lm=-1&amp;cl=2&amp;nc=1&amp;ie=utf-8&amp;word=深圳</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>country</key>
		<string>America</string>
		<key>city</key>
		<array>
			<dict>
				<key>cityName</key>
				<string>Washington D.C.</string>
				<key>introduction</key>
				<string>美利坚合众国的首都，靠近弗吉尼亚州和马里兰州，位于美国的东北部、中大西洋地区，是1790年作为首都而设置、由美国国会直接管辖的特别行政区划，因此不属于美国的任何一州。</string>
				<key>imgName</key>
				<string>Washington.jpeg</string>
				<key>detailUrl</key>
				<string>http://baike.baidu.com/subview/84674/11121598.htm?fromtitle=Washington+D.C.&amp;type=syn</string>
				<key>photosUrl</key>
				<string>http://image.baidu.com/i?tn=baiduimage&amp;ipn=r&amp;ct=201326592&amp;cl=2&amp;lm=-1&amp;st=-1&amp;fm=result&amp;fr=&amp;sf=1&amp;fmq=1402307091865_R&amp;pv=&amp;ic=0&amp;nc=1&amp;z=&amp;se=1&amp;showtab=0&amp;fb=0&amp;width=&amp;height=&amp;face=0&amp;istype=2&amp;ie=utf-8&amp;word=Washington+D.C.</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>New York</string>
				<key>introduction</key>
				<string>是纽约大都会区的核心，美国第一大城市，北美洲第一大城市，其巨大的经济与政治影响力在世界上首屈一指，与日本东京，英国伦敦，并称为三大国际大都会。</string>
				<key>imgName</key>
				<string>NewYork.jpg</string>
				<key>detailUrl</key>
				<string>http://baike.baidu.com/subview/7708/5407361.htm?fromtitle=New+York&amp;fromid=10904525&amp;type=search</string>
				<key>photosUrl</key>
				<string>http://image.baidu.com/i?tn=baiduimage&amp;ct=201326592&amp;lm=-1&amp;cl=2&amp;nc=1&amp;ie=utf-8&amp;word=纽约</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>San Francisco</string>
				<key>introduction</key>
				<string>旧金山是美国加利福尼亚州太平洋沿岸港口城市，加州仅次于洛杉矶的第二大城市，美国西部最大的金融中心和重要的高新技术研发和制造基地</string>
				<key>imgName</key>
				<string>SanFrancisco.jpg</string>
				<key>detailUrl</key>
				<string>http://baike.baidu.com/subview/7407/7563647.htm?fromtitle=San+Francisco&amp;fromid=1542364&amp;type=syn</string>
				<key>photosUrl</key>
				<string>http://image.baidu.com/i?tn=baiduimage&amp;ipn=r&amp;ct=201326592&amp;cl=2&amp;lm=-1&amp;st=-1&amp;fm=result&amp;fr=&amp;sf=1&amp;fmq=1402307131721_R&amp;pv=&amp;ic=0&amp;nc=1&amp;z=&amp;se=1&amp;showtab=0&amp;fb=0&amp;width=&amp;height=&amp;face=0&amp;istype=2&amp;ie=utf-8&amp;word=San+Francisco</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>City of Los Angeles</string>
				<key>introduction</key>
				<string>洛杉矶位于美国加州西南部，是美国的第二大城，仅次于纽约，美国最大的海港。全世界的文化、科学、技术、国际贸易和高等教育中心之一，还拥有世界知名的各种专业与文化领域的机构。</string>
				<key>imgName</key>
				<string>CityofLosAngeles.jpg</string>
				<key>detailUrl</key>
				<string>http://baike.baidu.com/view/7731.htm?fromtitle=City+of+Los+Angeles&amp;type=syn</string>
				<key>photosUrl</key>
				<string>http://image.baidu.com/i?tn=baiduimage&amp;ct=201326592&amp;lm=-1&amp;cl=2&amp;nc=1&amp;ie=utf-8&amp;word=洛杉矶</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>country</key>
		<string>Australia</string>
		<key>city</key>
		<array>
			<dict>
				<key>cityName</key>
				<string>Sydney</string>
				<key>introduction</key>
				<string>澳大利亚、大洋洲及南半球第一大城市和港口，世界公认十大最繁华的国际大都市之一。</string>
				<key>imgName</key>
				<string>Sydney.png</string>
				<key>detailUrl</key>
				<string>http://baike.baidu.com/subview/29557/7948661.htm</string>
				<key>photosUrl</key>
				<string>http://image.baidu.com/i?tn=baiduimage&amp;ipn=r&amp;ct=201326592&amp;cl=2&amp;lm=-1&amp;st=-1&amp;fm=result&amp;fr=&amp;sf=1&amp;fmq=1402307202508_R&amp;pv=&amp;ic=0&amp;nc=1&amp;z=&amp;se=1&amp;showtab=0&amp;fb=0&amp;width=&amp;height=&amp;face=0&amp;istype=2&amp;ie=utf-8&amp;word=Sydney</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>Melbourne</string>
				<key>introduction</key>
				<string>是澳大利亚的第二大城市，简称墨城，是繁华的国际大都市之一。</string>
				<key>imgName</key>
				<string>Melbourne.jpg</string>
				<key>detailUrl</key>
				<string>http://baike.baidu.com/view/14376.htm?fromtitle=Melbourne&amp;fromid=404035&amp;type=syn</string>
				<key>photosUrl</key>
				<string>http://image.baidu.com/i?tn=baiduimage&amp;ct=201326592&amp;lm=-1&amp;cl=2&amp;nc=1&amp;ie=utf-8&amp;word=墨尔本</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>Brisbane</string>
				<key>introduction</key>
				<string>澳大利亚第三大城市，全国最大海港，昆士兰州首府，主要工商业中心，发展较快。</string>
				<key>imgName</key>
				<string>Brisbane.jpg</string>
				<key>detailUrl</key>
				<string>http://baike.baidu.com/view/48683.htm?fromtitle=BRISBANE&amp;fromid=6385687&amp;type=syn</string>
				<key>photosUrl</key>
				<string>http://image.baidu.com/i?tn=baiduimage&amp;ipn=r&amp;ct=201326592&amp;cl=2&amp;lm=-1&amp;st=-1&amp;fm=result&amp;fr=&amp;sf=1&amp;fmq=1402307248597_R&amp;pv=&amp;ic=0&amp;nc=1&amp;z=&amp;se=1&amp;showtab=0&amp;fb=0&amp;width=&amp;height=&amp;face=0&amp;istype=2&amp;ie=utf-8&amp;word=Brisbane</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>country</key>
		<string>Canada</string>
		<key>city</key>
		<array>
			<dict>
				<key>cityName</key>
				<string>Toronto</string>
				<key>introduction</key>
				<string>加拿大最大城市、安大略省的省会，坐落在安大略湖西北岸的南安大略地区。是加拿大最大的城市，也是北美洲第四大城市。多伦多是全球最多元化的都市之一</string>
				<key>imgName</key>
				<string>Toronto.jpg</string>
				<key>detailUrl</key>
				<string>http://baike.baidu.com/view/8073.htm?fromtitle=Toronto&amp;fromid=9484847&amp;type=syn</string>
				<key>photosUrl</key>
				<string>http://image.baidu.com/i?ct=201326592&amp;cl=2&amp;lm=-1&amp;nc=1&amp;ie=utf-8&amp;tn=baiduimage&amp;ipn=r&amp;pv=&amp;fm=rs1&amp;word=加拿大多伦多</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>Montreal</string>
				<key>introduction</key>
				<string>坐落于加拿大渥太华河和圣劳伦斯河交汇处，是加拿大第二大城市、魁北克省最大城市。</string>
				<key>imgName</key>
				<string>Montreal.jpg</string>
				<key>detailUrl</key>
				<string>http://baike.baidu.com/subview/35199/11090124.htm?fromtitle=montreal&amp;fromid=4886622&amp;type=syn</string>
				<key>photosUrl</key>
				<string>http://image.baidu.com/i?tn=baiduimage&amp;ipn=r&amp;ct=201326592&amp;cl=2&amp;lm=-1&amp;st=-1&amp;fm=result&amp;fr=&amp;sf=1&amp;fmq=1402307321287_R&amp;pv=&amp;ic=0&amp;nc=1&amp;z=&amp;se=1&amp;showtab=0&amp;fb=0&amp;width=&amp;height=&amp;face=0&amp;istype=2&amp;ie=utf-8&amp;word=Montreal</string>
			</dict>
			<dict>
				<key>cityName</key>
				<string>City of Vancouver</string>
				<key>introduction</key>
				<string>温哥华温哥华是加拿大西部的工业中心，大温哥华地区由20多个城市构成，人口约210万，是加拿大第三大城市群、位居多伦多、蒙特利尔之后，是加拿大西部最大的城市，同时也是北美第三大海港和国际贸易的重要中转站，是世界主要小麦出口港之一。</string>
				<key>imgName</key>
				<string>CityofVancouver.jpg</string>
				<key>detailUrl</key>
				<string>http://baike.baidu.com/subview/17555/10624487.htm</string>
				<key>photosUrl</key>
				<string>http://image.baidu.com/i?tn=baiduimage&amp;ct=201326592&amp;lm=-1&amp;cl=2&amp;nc=1&amp;ie=utf-8&amp;word=温哥华</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
